<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">Auth0</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/precios">Precios</a>
                </li>
                <li *ngIf="auth.isAuthenticated$ | async" class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/protegida">Protegida</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/template-forms">Template</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
                    <button class="btn btn-outline-success" (click)="auth.logout({logoutParams: {returnTo: document.location.origin}})">Logout</button>
                </ng-container>
                <ng-template #loggedOut>
                    <button class="btn btn-outline-success" (click)="auth.loginWithRedirect()">Login</button>
                </ng-template>
                <ul *ngIf="auth.user$ | async as user">
                    <li>{{ user.name }}</li>
                    <li>{{ user.email }}</li>
                </ul>
            </form>
        </div>
    </div>
</nav> 