<div class="container">
	<form (ngSubmit)="submit()" #forma="ngForm">
      
		<h3>Inicio de sesión - Formulario por template</h3>
		<hr />
		<label for="name"><b>Nombre</b></label>
		<input
            type="text"
            #name="ngModel"
            [(ngModel)]="register.name"
            placeholder="Introduzca su nombre de pila"
            name="name"
            minlength="5"
            class="form-control"
            required
            [ngClass]="{'is-valid': !name.invalid, 'is-invalid': name.invalid}"
          />

		<div class="invalid-feedback" *ngIf="name.invalid && (name.dirty || name.touched)">
			<div *ngIf="name.errors?.['minlength']">
				Introduzca un nombre de pila con 5 caracteres mínimo
			</div>
			<div *ngIf="name.errors?.['required']">
				Introduzca un nombre de pila válido por favor
			</div>
		</div>
		<label for="email"><b>Correo electrónico</b></label>
		<input
            type="email"
            #email="ngModel"
            [(ngModel)]="register.email"
            placeholder="Introduzca la correo electrónico"
            name="email"
            class="form-control"
            required
            [ngClass]="{'is-valid': !email.invalid, 'is-invalid': email.invalid}"
            pattern="^[a-zA-Z0-9._-]+&#64;[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
          />

		<div class="invalid-feedback" *ngIf="email.invalid && (email.dirty || email.touched)">
			<div *ngIf="email.errors?.['required']">
				Introduzca un correo electrónico válido por favor {{ email.value }}
			</div>
			<div *ngIf="email.errors && email.errors?.['pattern']">
				El correo electrónico no sigue el formato correcto. Sigue este ejemplo: anartz&#64;mugika.com
				{{ email.value }}
			</div>
		</div>
		<label for="psw"><b>Contraseña</b></label>
		<input
            type="password"
            placeholder="Introduzca la contraseña"
            #password="ngModel"
            [(ngModel)]="register.password"
            name="password"
            class="form-control"
            required
            [ngClass]="{'is-valid': !password.invalid, 'is-invalid': password.invalid}"
          />
		<div class="invalid-feedback" *ngIf="password.invalid && (password.dirty || password.touched)">
			<div *ngIf="password.errors?.['required']">
				Introduzca una contraseña por favor
			</div>
		</div>
		<label for="psw"><b>Repetir Contraseña</b></label>
		<input
            type="password"
            placeholder="Repetir la contraseña"
            #repeatPass="ngModel"
            [(ngModel)]="register.repeatPass"
            name="repeatPass"
            class="form-control"
            required
            [ngClass]="{'is-valid': !repeatPass.invalid, 'is-invalid': repeatPass.invalid}"
          />
		<div class="invalid-feedback" *ngIf="repeatPass.invalid && (repeatPass.dirty || repeatPass.touched)">
			<div *ngIf="repeatPass.errors?.['required']">
				Introduzca una contraseña por favor
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg">
				<button type="submit" [disabled]="!forma.valid" class="signup-btn">Iniciar sesión</button>
			</div>
		</div>
	</form>
</div>